services/kube-tools/clients/certificates/ca.crt
services/kube-tools/credentials.json
services/kube-tools/myfitnesspal.json
services/kube-tools/oauth.json
services/kube-tools/token.json
services/kube-tools/scripts/esp8266_client/esp8266_client.ino
services/kube-tools/.VSCodeCounter/*
*.ipynb
services/kube-tools/scripts/get_google_refresh_token.py
services/kube-tools/scripts/plaid_link.py
services/kube-tools/scripts/google_credentials.json
services/kube-tools/services/market_research_processor.py
services/kube-tools/prompts/*
deploy.bat
