services/kube-tools/clients/certificates/ca.crt
services/kube-tools/credentials.json
services/kube-tools/myfitnesspal.json
services/kube-tools/oauth.json
services/kube-tools/token.json
services/kube-tools/scripts/esp8266_client/esp8266_client.ino
services/kube-tools/.VSCodeCounter/*
*.ipynb
