framework==0.5.0
pandas
kubernetes
xmltodict
swagger-gen
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
lxml
myfitnesspal
aiogoogle
uvicorn
azure-storage-blob
deprecated
openai
twilio
beautifulsoup4
yfinance
phonenumbers
tenacity
openai>=1.0.0
pytest
feedparser
readability-lxml
robin_stocks
markdown