framework==0.5.0
pandas
kubernetes
xmltodict
swagger-gen
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
aiogoogle
lxml
myfitnesspal
uvicorn
azure-storage-blob
deprecated
openai
twilio
beautifulsoup4
yfinance
phonenumbers
tenacity
openai>=1.0.0
pytest
feedparser
readability-lxml
robin_stocks
markdown
sib_api_v3_sdk
coinbase-advanced-py==1.2.2
pydantic[email]
python-multipart
aiofiles